@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist", Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 33% 17%;
    --card: 0 0% 100%;
    --card-foreground: 240 33% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 33% 17%;
    --primary: 180 100% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 51 100% 50%;
    --secondary-foreground: 240 33% 17%;
    --muted: 0 0% 96%;
    --muted-foreground: 240 33% 17%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 100% 25%;
    --input: 180 100% 25%;
    --ring: 210 100% 50%;
    --success: 142 69% 55%;
    --success-foreground: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 33% 17%;
    --foreground: 0 0% 96%;
    --card: 240 33% 17%;
    --card-foreground: 0 0% 96%;
    --popover: 240 33% 17%;
    --popover-foreground: 0 0% 96%;
    --primary: 51 100% 50%;
    --primary-foreground: 240 33% 17%;
    --secondary: 180 100% 25%;
    --secondary-foreground: 0 0% 96%;
    --muted: 240 33% 25%;
    --muted-foreground: 0 0% 96%;
    --accent: 210 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 51 100% 50%;
    --input: 51 100% 50%;
    --ring: 210 100% 50%;
    --success: 142 69% 55%;
    --success-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
